.new-asset-inner-container
  display: flex
  flex-direction: column

.new-asset-option-row
  height: auto
  display: flex
  flex-direction: row
  margin-bottom: 10px

.new-asset-option
  height: auto
  flex: 1
  padding: 0 25px

.new-asset-option-title
  width: auto
  height: auto
  margin: 5px 0

.new-asset-dropdown
  position: relative
  height: 40px

.new-asset-option-autocomplete
  border-radius: $radius
  border: 1px solid $grey-lighter
