.black
  color: $black-bis !important
.bg-black
  color: $white !important
  background-color: $black-bis !important
.border-black
  border-color: $black-bis !important
.hover-black:hover
  color: $black-bis !important
.hover-bg-black:hover
  color: $white !important
  background-color: $black-bis !important
.stroke-black
  color: $black-bis !important


.orange
  color: $orange !important
.bg-orange
  color: $orange-invert !important
  background-color: $orange !important
.border-orange
  border-color: $orange !important
.hover-orange:hover
  color: $orange !important
.hover-bg-orange:hover
  color: $orange-invert !important
  background-color: $orange !important
.stroke-orange
  color: $orange !important

.yellow
  color: $yellow !important
.bg-yellow
  color: $yellow-invert !important
  background-color: $yellow !important
.border-yellow
  border-color: $yellow !important
.hover-yellow:hover
  color: $yellow !important
.hover-bg-yellow:hover
  color: $yellow-invert !important
  background-color: $yellow !important
.stroke-yellow
  color: $yellow !important

.green
  color: $green !important
.bg-green
  color: $green-invert !important
  background-color: $green !important
.border-green
  border-color: $green !important
.hover-green:hover
  color: $green !important
.hover-bg-green:hover
  color: $green-invert !important
  background-color: $green !important
.stroke-green
  color: $green !important

.turquoise
  color: $turquoise !important
.bg-turquoise
  color: $turquoise-invert !important
  background-color: $turquoise !important
.border-turquoise
  border-color: $turquoise !important
.hover-turquoise:hover
  color: $turquoise !important
.hover-bg-turquoise:hover
  color: $turquoise-invert !important
  background-color: $turquoise !important
.stroke-turquoise
  color: $turquoise !important

.cyan
  color: $cyan !important
.bg-cyan
  color: $cyan-invert !important
  background-color: $cyan !important
.border-cyan
  border-color: $cyan !important
.hover-cyan:hover
  color: $cyan !important
.hover-bg-cyan:hover
  color: $cyan-invert !important
  background-color: $cyan !important
.stroke-cyan
  color: $cyan !important

.blue
  color: $blue !important
.bg-blue
  color: $blue-invert !important
  background-color: $blue !important
.border-blue
  border-color: $blue !important
.hover-blue:hover
  color: $blue !important
.hover-bg-blue:hover
  color: $blue-invert !important
  background-color: $blue !important
.stroke-blue
  color: $blue !important

.purple
  color: $purple !important
.bg-purple
  color: $purple-invert !important
  background-color: $purple !important
.border-purple
  border-color: $purple !important
.hover-purple:hover
  color: $purple !important
.hover-bg-purple:hover
  color: $purple-invert !important
  background-color: $purple !important
.stroke-purple
  color: $purple !important

.red
  color: $red !important
.bg-red
  color: $red-invert !important
  background-color: $red !important
.border-red
  border-color: $red !important
.hover-red:hover
  color: $red !important
.hover-bg-red:hover
  color: $red-invert !important
  background-color: $red !important
.stroke-red
  color: $red !important
