.orange
  color: $orange
.bg-orange
  background-color: $orange
.border-orange
  border-color: $orange

.yellow
  color: $yellow
.bg-yellow
  background-color: $yellow
.border-yellow
  border-color: $yellow

.green
  color: $green
.bg-green
  background-color: $green
.border-green
  border-color: $green

.turquoise
  color: $turquoise
.bg-turquoise
  background-color: $turquoise
.border-turquoise
  border-color: $turquoise

.cyan
  color: $cyan
.bg-cyan
  background-color: $cyan
.border-cyan
  border-color: $cyan

.blue
  color: $blue
.bg-blue
  background-color: $blue
.border-blue
  border-color: $blue

.purple
  color: $purple
.bg-purple
  background-color: $purple
.border-purple
  border-color: $purple

.red
  color: $red
.bg-red
  background-color: $red
.border-red
  border-color: $red
