.black
  color: $black-bis !important
.bg-black
  color: $white !important
  background-color: $black-bis !important
.border-black
  border-color: $black-bis !important
.hover-black:hover
  color: $black-bis !important
.hover-bg-black:hover
  color: $white !important
  background-color: $black-bis !important
.stroke-black
  color: $black-bis !important

.seabrook
  color: #487eb0 !important
.bg-seabrook
  color: $white !important
  background-color: #487eb0 !important
.border-seabrook
  border-color: #487eb0 !important
.hover-seabrook:hover
  color: #487eb0 !important
.hover-bg-seabrook:hover
  color: $white !important
  background-color: #487eb0 !important
.stroke-seabrook
  color: #487eb0 !important

.periwinkle
  color: #9c88ff !important
.bg-periwinkle
  color: $white !important
  background-color: #9c88ff !important
.border-periwinkle
  border-color: #9c88ff !important
.hover-periwinkle:hover
  color: #9c88ff !important
.hover-bg-periwinkle:hover
  color: $white !important
  background-color: #9c88ff !important
.stroke-periwinkle
  color: #9c88ff !important

.rise-n-shine
  color: #fbc531 !important
.bg-rise-n-shine
  color: $white !important
  background-color: #fbc531 !important
.border-rise-n-shine
  border-color: #fbc531 !important
.hover-rise-n-shine:hover
  color: #fbc531 !important
.hover-bg-rise-n-shine:hover
  color: $white !important
  background-color: #fbc531 !important
.stroke-rise-n-shine
  color: #fbc531 !important

.nasturcian-flower
  color: #e84118 !important
.bg-nasturcian-flower
  color: $white !important
  background-color: #e84118 !important
.border-nasturcian-flower
  border-color: #e84118 !important
.hover-nasturcian-flower:hover
  color: #e84118 !important
.hover-bg-nasturcian-flower:hover
  color: $white !important
  background-color: #e84118 !important
.stroke-nasturcian-flower
  color: #e84118 !important

.download-progress
  color: #4cd137 !important
.bg-download-progress
  color: $white !important
  background-color: #4cd137 !important
.border-download-progress
  border-color: #4cd137 !important
.hover-download-progress:hover
  color: #4cd137 !important
.hover-bg-download-progress:hover
  color: $white !important
  background-color: #4cd137 !important
.stroke-download-progress
  color: #4cd137 !important

.protoss-pylon
  color: #00a8ff !important
.bg-protoss-pylon
  color: $white !important
  background-color: #00a8ff !important
.border-protoss-pylon
  border-color: #00a8ff !important
.hover-protoss-pylon:hover
  color: #00a8ff !important
.hover-bg-protoss-pylon:hover
  color: $white !important
  background-color: #00a8ff !important
.stroke-protoss-pylon
  color: #00a8ff !important

.mazarine-blue
  color: #273c75 !important
.bg-mazarine-blue
  color: $white !important
  background-color: #273c75 !important
.border-mazarine-blue
  border-color: #273c75 !important
.hover-mazarine-blue:hover
  color: #273c75 !important
.hover-bg-mazarine-blue:hover
  color: $white !important
  background-color: #273c75 !important
.stroke-mazarine-blue
  color: #273c75 !important

.orange
  color: $orange !important
.bg-orange
  color: $orange-invert !important
  background-color: $orange !important
.border-orange
  border-color: $orange !important
.hover-orange:hover
  color: $orange !important
.hover-bg-orange:hover
  color: $orange-invert !important
  background-color: $orange !important
.stroke-orange
  color: $orange !important

.yellow
  color: $yellow !important
.bg-yellow
  color: $yellow-invert !important
  background-color: $yellow !important
.border-yellow
  border-color: $yellow !important
.hover-yellow:hover
  color: $yellow !important
.hover-bg-yellow:hover
  color: $yellow-invert !important
  background-color: $yellow !important
.stroke-yellow
  color: $yellow !important

.green
  color: $green !important
.bg-green
  color: $green-invert !important
  background-color: $green !important
.border-green
  border-color: $green !important
.hover-green:hover
  color: $green !important
.hover-bg-green:hover
  color: $green-invert !important
  background-color: $green !important
.stroke-green
  color: $green !important

.turquoise
  color: $turquoise !important
.bg-turquoise
  color: $turquoise-invert !important
  background-color: $turquoise !important
.border-turquoise
  border-color: $turquoise !important
.hover-turquoise:hover
  color: $turquoise !important
.hover-bg-turquoise:hover
  color: $turquoise-invert !important
  background-color: $turquoise !important
.stroke-turquoise
  color: $turquoise !important

.cyan
  color: $cyan !important
.bg-cyan
  color: $cyan-invert !important
  background-color: $cyan !important
.border-cyan
  border-color: $cyan !important
.hover-cyan:hover
  color: $cyan !important
.hover-bg-cyan:hover
  color: $cyan-invert !important
  background-color: $cyan !important
.stroke-cyan
  color: $cyan !important

.blue
  color: $blue !important
.bg-blue
  color: $blue-invert !important
  background-color: $blue !important
.border-blue
  border-color: $blue !important
.hover-blue:hover
  color: $blue !important
.hover-bg-blue:hover
  color: $blue-invert !important
  background-color: $blue !important
.stroke-blue
  color: $blue !important

.purple
  color: $purple !important
.bg-purple
  color: $purple-invert !important
  background-color: $purple !important
.border-purple
  border-color: $purple !important
.hover-purple:hover
  color: $purple !important
.hover-bg-purple:hover
  color: $purple-invert !important
  background-color: $purple !important
.stroke-purple
  color: $purple !important

.red
  color: $red !important
.bg-red
  color: $red-invert !important
  background-color: $red !important
.border-red
  border-color: $red !important
.hover-red:hover
  color: $red !important
.hover-bg-red:hover
  color: $red-invert !important
  background-color: $red !important
.stroke-red
  color: $red !important
