@charset 'utf-8'
@import '~bulma/bulma.sass'

@import 'themes/all'
@import 'abstracts/all'
@import 'base/all'
@import 'components/all'
@import 'containers/all'

.nav
  z-index: 10000

.scene-view
  position: relative
  z-index: 50
  height: 100%
  background: $grey

.graph-container
  position: fixed
  top: 0
  left: 0
  z-index: 2

.graph-editor
  z-index: 1
  position: absolute
  width: 20000px
  height: 20000px
  left: -10000px
  top: -10000px
  background: transparent
  border: 5px solid #444
  overflow: hidden
  touch-action: none

.node-container
  position: absolute
  width: 0
  top: 0
  left: 0
  z-index: 3

.edge-container
  position: absolute
  top: 0
  left: 0
  z-index: 2

  svg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.node-search-container
  position: fixed
  top: 100px
  left: 500px
  width: 100px
  height: auto
  z-index: 100
  background: $black-bis
  box-shadow: $box-shadow

  .node-type
    display: flex
    flex-direction: row
    align-items: center
    height: auto
    padding-left: 5px
    color: $grey-lighter
    border-bottom: 1px solid $grey
    cursor: pointer

    &:last-child
      border: none

    &:hover
      background: $grey-darker

    h4
      flex: 1

  .node-list
    position: absolute
    left: 102px
    top: 0
    height: auto
    background: $black-bis
    box-shadow: $box-shadow

    .node-select
      display: flex
      flex-direction: row
      align-items: center
      width: auto
      height: auto
      padding-left: 5px
      color: $grey-lighter
      border-bottom: 1px solid $grey
      cursor: pointer

      &:last-child
        border: none

      &:hover
        background: $grey-darker
